
body {
    background-image: url(../img/space.gif);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.contact1 {
    font-family: 'OffBit Bold';
    color: white;
    border-bottom: 1px solid #fff;
    font-size: 15rem;
    margin-top: 13%;
}

.contact2 {
    width: calc(100vw*1500/1920);
    color: white;
    font-size: 3rem;
    margin-top: 3%;
    margin-left: 0.5%;
    font-family: "OffBit Regular";
}

.contact2 ul {
    display: flex;
    font-family: "OffBit Regular";
}

.contact2 li {
    margin-left: 5%;
    text-align: left;
    font-family: "OffBit Regular";
}

.contact2 li:nth-of-type(2) {
    margin-top: -0.7%;
}

.contact3 {
    font-family: 'Pretendard';
    font-size: 1.7rem;
    text-align: left;
    line-height: 150%;
    margin-left: 4.5%;
    padding-bottom: 1.5%;
}

.bo {
    font-weight: 900;
}