@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: medium;
    font-size: 30px;
}

body {
    background-image: url(../img/space.gif);
}

* {
    margin: 0;
    padding: 0;
}

.wheeli {
    width: calc(100vw*1700/1920);
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.w1 {
    width: calc(100vw*800/1920);
    height: calc(100vh*450/1080);
    position: absolute;
    top: 30%;
}

.w1 img {
    width: 800px;
}

.w2 {
    width: calc(100vw*850/1920);
    height: calc(100vh*700/1080);
    position: absolute;
    top: 20%;
    left: 50%;
}

.w3 {
    font-family: 'Offbit Bold';
    font-size: 8.5rem;
    color: white;
}

.w5 {
    font-family: 'Offbit Bold';
    font-size: rem;
    color: white;
}

.w4 {
    color: white;
    font-family: 'Pretendard';
    font-size: 1.5rem;
    line-height: 150%;
}

.w4 span {
    font-weight: 800;
    font-size: 1.7rem;
}

.name7 {
    width: calc(100vw*180/1920);
    height: calc(100vh*60/1080);
    color: white;
    border: 1px solid white;
    background-color: #000;
    font-family: '둥근모꼴';
    top: 90%;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    border-radius: 5%;
    padding-top: 1.5%;
}

.name8 {
    width: calc(100vw*240/1920);
    height: calc(100vh*60/1080);
    color: white;
    border: 1px solid white;
    background-color: #000;
    font-family: '둥근모꼴';
    top: 90%;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    border-radius: 5%;
    left: 24%;
    padding-top: 1.5%;
}

.name9 {
    width: calc(100vw*180/1920);
    height: calc(100vh*60/1080);
    color: white;
    border: 1px solid white;
    background-color: #000;
    font-family: '둥근모꼴';
    top: 85%;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    border-radius: 5%;
    padding-top: 1.5%;
}

.name10 {
    width: calc(100vw*240/1920);
    height: calc(100vh*60/1080);
    color: white;
    border: 1px solid white;
    background-color: #000;
    font-family: '둥근모꼴';
    top: 85%;
    font-size: 1.8rem;
    position: absolute;
    text-align: center;
    border-radius: 5%;
    left: 24%;
    padding-top: 1.5%;
}